<div class="header">
  <h1>Tools</h1>
  <mat-divider></mat-divider>
</div>
<div class="tools">

  <mat-card class="primary-card">
    <mat-card-title>Sonarqube</mat-card-title>
    <mat-card-subtitle>SAST VULNERABILITY TEST</mat-card-subtitle>
    <button routerLink="top10" mat-fab class="run-button">
      <mat-icon inline="true" style="font-size: 5vw; ">play_arrow</mat-icon>
    </button>
  </mat-card>
<mat-card class="primary-card">
  <mat-card-title>Java Scanner</mat-card-title>
  <mat-card-subtitle>VULNERABILITY TEST</mat-card-subtitle>
  <button routerLink="java-scan" mat-fab class="run-button">
    <mat-icon inline="true" style="font-size: 5vw; ">play_arrow</mat-icon>
  </button>
</mat-card>
</div>

